// The resize box needs to be constrained the same way the chart is, or else
// its handles won't line up with the chart in the editor.
.wp-block-vegalite-plugin-visualization .components-resizable-box__container {
	max-width: 100%;
}

.visualization-block-tabs {

	[role="tablist"] {
		border-bottom: 1px solid #ddd;
		margin-bottom: 1rem;
	}

	.active-tab {
		box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) transparent, inset 0 -4px 0 0 var(--wp-admin-theme-color);
	}
}
