// Styles used both on frontend and within the editor.

.visualization-block {
	max-width: 100%;
}

.chart-wrapper,
.chart-wrapper canvas {
	max-width: 100%; // Never overflow container.
	height: auto !important; // Use object dimension props for aspect ratio when width-constrained.
}

.chart-hidden .vega-embed,
.chart-hidden div {
	display: none;
}

// Keep charts constained to their content column. Scales proportionally with
// the viewBox from vega chart output as long as height is set to auto.
.visualization-block,
.wp-block-vegalite-plugin-visualization {

	.vega-embed {
		max-width: 100%;
	}

	.vega-embed > svg {
		max-width: 100%;
		height: auto;
	}
}
