.datasets-control-row {
	align-items: flex-end;
	margin-bottom: 0.5rem;

	> :first-child {
		flex: auto;
	}

	> * {
		margin-right: 0.5rem;
	}

	> :last-child {
		margin-right: 0;
	}
}

.dataset-control-button {
	height: 30px;
}

.dataset-form-error {
	font-size: 0.9rem;
	color: #cc1818;
}
